* {
  outline: 0px solid red;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #c5e4e7;
  /* text-align: center; */
  font-family: 'Open Sans';
  margin: 0;
}
#title {
  text-align: center;
  margin-top: 70px;
}

/*
    Auther: Abdelrhman Said
*/
/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

// */
.display {
  width: 60%;
  /* height: 300px; */
  background-color: #ffffff;
  margin: auto;
  text-align: ;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 0px;
  /* justify-content: space-evenly; */
  position: relative;
  /* left: 280px; */
  margin: 0 auto;
}
@media (max-width: 768px) {
  .display {
    flex-direction: column;
    /* position: relative;
    left: 100px; */
    width: 100%;
  }
}
.control-panel {
  width: 50%;
  padding: 10px;
}
#subtitle {
  margin-bottom: 5px;
}
input[type='text'],
select {
  width: 100%;
  padding: 8px 10px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #00474b;
  border-radius: 10px;
  box-sizing: border-box;
}
.button-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 10px;
  margin-top: -15px;
}
.options {
  padding: 10px;
  background-color: #00474b;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  /* font-size: 15px; */
  font-family: sans-serif;
  font-weight: bold;
}
.canvas {
  background-color: #00474b;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff;
  font-size: 1.15em;
}
.tip-amount-holder {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.tip-amount {
  margin-top: 0;
  margin-bottom: 0;
}
.tip-amount-person {
  margin-top: 10px;
  margin-bottom: 0;
}
#display-amount {
  font-size: 2em;
  color: #2dbeac;
}
#display-tip {
  font-size: 2em;
  color: #2dbeac;
}
